@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
  <p>You can start by adding a review.</p>
    <a asp-controller="Review" asp-action="Create" class="btn btn-success">Add a review</a>
   

</div>
